/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

  .trasp{ 
    background-color: rgba(138, 135, 135, 0.486);
    padding: 10px;
    margin: 0px 0px 10px 0px;
    }
  .parallax {
    /* The image used */
    background-image: url("../img/olimpic.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .active-selected:hover{
    
    -webkit-box-shadow: 0px 6px 134px 17px rgba(177, 177, 177, 0.384) !important;
    -moz-box-shadow: 0px 6px 134px 17px rgba(148, 151, 151, 0.43) !important;
    box-shadow: 0px 6px 134px 17px rgba(147, 150, 149, 0.534) !important;
  }